#departure_airport_div .select2.select2-container.select2-container--default {
  float: left:;
  width: 100% !important;
  margin-top: 5px;
}


.select2-results__option {
  text-align: left;
}
.select2-selection__rendered {
  text-align: left;
}


textarea#customer_message {
    max-width: inherit;
}

.form-group-50 {
    width: 48%;
    float: left;
    margin: 0 1%;
}


.list-inline.service_description li {
    float: left;
    width: 100%;
}
#service .list-inline.service_description p {
    height: auto;
    padding: 0;
    margin: 0;
}

.d-none {
  display: none !important;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.badge-secondary {
    color: #FFFFFF;
    background-color: #685563;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.card { display: block; float: left; padding-left:25px}
.card input, .card span, .card div, .card p {
    float: left !important;
}
.w-100{width:100%}
pan.payment_option_name {
    line-height: 11px;
}
.card p {
    padding-bottom: 10px !important;
    margin-bottom: 10px;
}
span.payment_option_name {
    padding-bottom: 15px;
}
ul.list-inline.payment_icon_list {
    float: left;
    width: 100%;
}
ul.float-right.list-inline.payment_icon_list li {
    float: left;
    padding-left: 0 !important;
}
span.payment_option_name {
    padding-bottom: 0 !important;
}
#service .card img {
    padding-bottom: 0;
}
button#o_payment_form_pay {
    margin-left: 28px;
}
.summary .rightPanel .card span {
    line-height: 15px;
    margin-bottom: 15px;
}







.tab_hide {
  display: none;
}

header .navbar-default .navbar-nav>li>a.active, header .navbar-default .navbar-nav>.active>a, header .navbar-default .navbar-nav>.active>a:hover, header .navbar-default .navbar-nav>.active>a:focus, .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus{
    border-bottom: 4px solid #0eb4df;
    font-weight: 400;
    background-color: #fff !important;
    color: #0eb4df
}


.err_msg {
    color: red;
    margin-top: -12px;
    left: 10px;
    text-align: left;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

footer h3, footer a, footer p {
    color: #fff !important
}

.is-invalid {
    border-color: red !important;
}

select#country_code {
    width: 30% !important;
    border: 0;
    border-radius: 0;
    padding: 10px 0;
    vertical-align: top;
    outline: none;
    height: 41px;
    font-size: 13px;
    float: left;
}

#footer_top {
    float: left;
    width: 100%;
}

.uaa_form_div input{
    width: 100%;
    border: none;
    border-bottom: 1px dotted grey;
    box-shadow: none;
}
.uaa_form_div .select2-container--default .select2-selection--single{
    width: 100%;
    border: none;
    border-bottom: 1px dotted grey;
    box-shadow: none;
    font-family: Verdana,Geneva,sans-serif;
    font-size: .9em;
    border-radius:0;
    padding:6px;
    height:40px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left:0
}

.uaa_form_div label {
    margin-bottom: 0;
    text-align: left;
    float: left;
}

.uaa_form_div .btn-primary {
    background: #none;
    border: solid 1px #1087d6;
    border-radius: 4px;
    color: #fff !important;
    border-radius:0 !important;
    padding: 2px 5px !important;
}

body .uaa_form_div select.form-control{
    border: none;
    border-bottom: 1px dotted grey;
    box-shadow: none;
    border-radius: 0;
}

.uaa_form_div  input#mobile {
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px dotted #ccc;
    webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,0.0);
    box-shadow: inset 0 0px 0px rgb(0 0 0 / 0%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 5px 0;
    margin-bottom: 20px;
    text-align: left;
    outline: none;
    background: none;
    width: 68%;
    margin-bottom: 0 !important;
    padding-left: 10px !important;
    }

span.err_select {
    margin-top: 8px;
}

.contact_number {
    width:100%;
}
.service_check {
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}
.service_check input{
    width: 20px;
    float: left;
    text-align: left;
    }

.service_check span{
    float: left;
    line-height: 36px;
    margin-right: 10px;
    }

.form-group.service_check div {
    min-width: 50%;
    float: left;
}

#footer_bottom {
    float: left;
    width: 100%;
}
#div_meet_first_page {
margin-top: 30px;
}

#div_meet_first_page h1{
font-weight: bold;
}
#div_meet_second_page {
margin-top: 30px;
}

#div_meet_second_page h1{
font-weight: bold;
}
#div_transfer_first_page {
margin-top: 30px;
}

#div_transfer_first_page h1{
font-weight: bold;
}
#div_transfer_second_page {
margin-top: 30px;
}

#div_transfer_second_page h1{
font-weight: bold;
}
#div_airport_h_page {
margin-top: 30px;
}

#div_airport_h_page h1{
font-weight: bold;
}
.logo {
max-height: 80px;
}
.required-field::after {
  content: "*";
  color: red;
}