
.col-md-9 {
	width: 75%!important;
	float:left !important;
}
.col-md-3 {
	width: 25%!important;
	float:left !important;
}
.col-md-6 {
	width: 50%!important;
	float:left !important;
}
.col-md-4 {
	float:left !important;
	width:33.3333% !important;
}

body{
	background:url(../images/noise_pattern_with_crosslines.png);
	}
.wrapper {
	background: url(../images/banner_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
}



