<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <!--  Admin Airports  -->
    <menuitem id="menu_uaa_admin_airport"
              name="Admin Airports"
              action="action_admin_airport_view"
              groups = "sr_uaa_main.view_admin_airport_menu"
              sequence="10"/>

    <!--  Link Tracker -->
    <record model="ir.ui.menu" id="utm.menu_link_tracker_root">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

    <!--  Sale  -->
    <record model="ir.ui.menu" id="sale.sale_menu_root">
        <field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
    </record>

    <!--  Discuss  -->
    <record model="ir.ui.menu" id="mail.menu_root_discuss">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

    <!--  Vendors  -->
    <record model="ir.ui.menu" id="account.menu_finance_payables">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

     <record model="ir.ui.menu" id="contacts.menu_partner_category_form">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

    <record model="ir.ui.menu" id="contacts.menu_partner_title_contact">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

    <record model="ir.ui.menu" id="contacts.res_partner_industry_menu">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

    <record model="ir.ui.menu" id="contacts.menu_country_group">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

    <record model="ir.ui.menu" id="contacts.menu_country_state_partner">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

    <record model="ir.ui.menu" id="account.menu_action_incoterm_open">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

    <record model="ir.ui.menu" id="account.menu_action_account_fiscal_position_form">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

    <record model="ir.ui.menu" id="account.menu_action_account_journal_group_list">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

    <record model="ir.ui.menu" id="account.menu_product_product_categories">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

    <record model="ir.ui.menu" id="account.menu_action_move_out_refund_type">
        <field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
    </record>

    <record model="ir.ui.menu" id="account.menu_action_payment_term_form">
        <field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
    </record>

    <record model="ir.ui.menu" id="account.menu_action_tax_form">
        <field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
    </record>

    <record model="ir.ui.menu" id="base.menu_management">
        <field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
    </record>

    <!--  Products  -->
    <!--    <record model="ir.ui.menu" id="account.product_product_menu_sellable">-->
    <!--        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>-->
    <!--    </record>-->


<!--      Contacts  -->
        <record model="ir.ui.menu" id="contacts.res_partner_menu_config">
<!--            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>-->
            <field name="groups_id" eval="[(6,0,[ref('sr_uaa_main.view_customer_menu')])]"/>
        </record>

    <record model="ir.ui.menu" id="contacts.menu_contacts">
        <field name="name">Customers</field>
    </record>

    <record model="ir.ui.menu" id="contacts.res_partner_menu_contacts">
        <field name="name">Customers</field>
    </record>

    <!-- <record model="ir.ui.menu" id="sale.sale_menu_root">
        <field name="groups_id" eval="[(6,0,[ref('sr_uaa_main.view_sales_menu_root')])]"/>
    </record> -->

    <record model="ir.ui.menu" id="account.menu_finance">
        <field name="groups_id" eval="[(6,0,[ref('sr_uaa_main.view_invoice_menu')])]"/>
    </record>

<!--    <record model="ir.ui.menu" id="base.menu_administration">-->
<!--        <field name="groups_id" eval="[(6,0,[ref('sr_uaa_main.view_settings_menu')])]"/>-->
<!--    </record>-->

    <!--  Enquiries  -->
    <menuitem id="menu_uaa_our_services"
              name="Enquiries"
              groups="sr_uaa_main.view_enquiries_menu"
              sequence="10"/>

    <menuitem id="menu_uaa_airport_all_services"
              name="All Enquiries"
              parent="menu_uaa_our_services"
              action="action_airport_enquiry_view"
              sequence="10"/>

    <menuitem id="menu_uaa_airport_meet_assist"
              name="Airport Meet Assist"
              parent="sr_uaa_main.menu_uaa_our_services"
              action="action_airport_enquiry_meet_assist_view"
              sequence="15"/>

    <menuitem id="menu_uaa_airport_hotels"
              name="Airport Hotels"
              parent="sr_uaa_main.menu_uaa_our_services"
              action="action_airport_enquiry_airport_hotel_view"
              sequence="20"/>
    <menuitem id="menu_uaa_airport_lounges"
              name="Airport Lounges"
              parent="sr_uaa_main.menu_uaa_our_services"
              action="action_airport_enquiry_airport_lounge_view"
              sequence="20"/>

    <!--              groups="sr_uaa_main.make_invisible"-->

    <menuitem id="menu_uaa_airport_transfers"
              name="Airport Transfers"
              parent="sr_uaa_main.menu_uaa_our_services"
              action="action_airport_enquiry_airport_transfer_view"
              sequence="25"/>

    <menuitem id="menu_uaa_enquiry_config"
              name="Configuration"
              parent="menu_uaa_our_services"
              sequence="1000"/>

    <menuitem id="menu_uaa_airport_service_type"
              name="Service Types"
              parent="menu_uaa_enquiry_config"
              action="action_airport_service_type_view"
              sequence="10"/>

    <menuitem id="menu_uaa_services"
              name="UAA Services"
              parent="menu_uaa_enquiry_config"
              action="action_uaa_services_view"
              sequence="20"/>

    <menuitem id="menu_uaa_airport_services"
              name="Airport Services"
              parent="menu_uaa_enquiry_config"
              action="action_service_airport_view"
              sequence="100"/>

    <menuitem id="menu_uaa_response_status"
              name="Response Status"
              parent="menu_uaa_enquiry_config"
              action="action_response_status_view"
              sequence="120"/>

    <menuitem id="menu_uaa_enquiry_status"
              name="Enquiry Comments"
              parent="menu_uaa_enquiry_config"
              action="action_enquiry_status_view"
              sequence="125"/>

    <menuitem id="menu_uaa_airport_services_category"
              name="Services Category"
              parent="menu_uaa_enquiry_config"
              action="action_service_category_view"
              sequence="99"/>

    <menuitem id="menu_uaa_travel_class"
              name="Class of Travel"
              parent="menu_uaa_enquiry_config"
              action="action_travel_class_view"
              sequence="80"/>

    <menuitem id="menu_uaa_mail_body"
              name="Mail Body"
              parent="menu_uaa_enquiry_config"
              action="action_uaa_mail_body_view"
              sequence="70"/>

</odoo>